/*
	Current colors:
	
	Sea green: #1ec76a
	Yellow-green: #e5e023
	Dark green: #3E911D
	Dark gray: #565656
	Light blue: #4ad0e3
*/

p {
	color: green;
}

main {
	
}

.content_area {
	background-color: #e5e023;
	position: relative;
	top: 56px;
	max-width: 700px;
	margin: 0 auto;
}