{% extends "base.html" %}
{% block main %}
    <div class="content_area">
        <form id="new_project_form">
            <h2>New Project</h2>
            <p>I need</p>
            <input type="number" placeholder="# volunteers" name="num_volunteers">
            <input type="text" placeholder="type of volunteer" name="type_volunteers">
            <p>volunteers to</p>
            <input type="text" placeholder="what the task is" name="task">
            <p></p>on/by
            <input type="text" placeholder="date" name="date">
            <p></p>at
            <input type="text" placeholder="location" name="location">
            <h3>More info:</h3>
            <textarea name="more_info" 
                      placeholder="Describe the project in more detail. Why should they help? What do they need to bring or have to volunteer?"
                      cols="90" rows="7"></textarea>
            <input type="submit" value="Submit" />
            <a href="{{ url_for("home") }}"><input type="button" value="Cancel"/></a>
        </form>
    </div>
{% endblock %}